{{#each this}}
<div class="card__list">
  <div class="card-img">
    <img src="{{flags.svg}}" alt="{{name.official}}" max-width="60px" height="30px">
  </div>
  <div class="card-body">
    <p class="item__title">{{name.official}}</p>
  </div>
</div>
{{/each}}